---
layout: main
---

<div class="oe-argus uk-container uk-margin-large-top uk-padding-large uk-padding-remove-horizontal">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
        {% for argu in site.data.argus %}
        {% capture orient %}{% cycle 'left', 'right' %}{% endcapture %}
        <div>
            <div class="uk-card uk-card-default 
                uk-grid-collapse uk-child-width-1-2@s uk-margin" 
                uk-grid 
                uk-scrollspy="cls: uk-animation-slide-{{orient}}; repeat: true">
                <div class="{% if orient == 'right' %}uk-flex-last@s {% endif %}uk-card-media-{{orient}} uk-cover-container">
                    <div class="uk-padding">
                        <img src="assets/images/{{ argu.image }}.jpg" alt="">
                    </div>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ argu.title }}</h3>
                        {{ argu.body | markdownify }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>