<br/>
<br/>
<br/>
<br/>
<br/>
<footer class="uk-margin-top uk-container uk-container-xlarge uk-background-secondary uk-light">
    <p class="uk-margin-large-top uk-margin-large-bottom
    uk-text-emphasis">Website Design und Unterhalt von <a
    href="mailto:tobi@oetiker.ch">Tobi Oetiker</a> und <a
    href="mailto:fritz@zaucker.ch">Fritz Zaucker</a>, <a target=_new
    href="https://oetiker.ch">Oetiker+Partner AG</a>.
    Visualierungen von <a target=_new href="https://nightnurse.ch/">nightnurse images
    gmbh</a> Zürich.
    </p>
</footer>
