<footer class="uk-margin-top uk-container uk-container-expand uk-background-secondary uk-light">
    <div class="uk-container">
        <div class="uk-child-width-expand uk-margin-large-top" uk-grid>
            <img src="assets/logos/gro-sw.svg">
            <img src="assets/logos/jgo-sw.svg">
            <img src="assets/logos/jspo-sw.svg">
            <img src="assets/logos/oj-sw.svg">
            <img src="assets/logos/spo-sw.svg">
            <div></div>
            <div></div>
        </div>
        <p class="uk-margin-top uk-margin-large-bottom uk-text-right
        uk-text-emphasis uk-text-small uk-text-light">Website Design von <a
        href="mailto:tobi.oetiker@olten.jetzt">Tobi Oetiker</a>, 
        Illustrationen von <a href="https://www.grillu.ch/">Gabriella Resenterra</a>
        und Texte von <a href="mailto:daniel.kissling@olten.jetzt">Daniel Kissling</a>.
        </p>
    </div>
</footer>
