<div class="uk-container-liquid uk-margin-bottom">
  <div class="eo-hero uk-container">
    <div class="uk-inline">
      <img src="assets/images/titelbild.jpg">
      <svg
        class="uk-overlay uk-position-top"
        viewBox="0 0 1200 1307"
        preserveAspectRatio="xMinYMin meet"
      >
        <foreignObject width="100%" height="100%">
          <h1>{{ site.title | escape }}</h1>
          <h2>{{ site.when | escape }}<br>{{ site.what | escape }}</h2>
        </foreignObject>
      </svg>
    </div>
  </div>
</div>
